<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>
  	   <package name="com.dao.entity.Userinfo"/>
  	   <package name="com.dao.entity.ShiroSeesion"/>
 	</typeAliases>
    <mappers>  
        <mapper resource="db/test/UserinfoMapper.xml" /> 
        <mapper resource="db/test/ShiroSessionMapper.xml" /> 
    </mappers>  
</configuration> 